div.container {
    height: 100%;
    font-family:serif;
    
    background: white;

}

div.titulo {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    height: 160px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    font-weight:bold;
    background: linear-gradient(270deg, rgba(128, 212, 153, 0.3) 15%, rgba(108, 249, 153, 0.3) 22%, rgba(60, 241, 90, 0.4) 27%, rgba(0, 248, 17, 0.73)); 
}

div.op1 { 
    width: 100;
    display: block;
    position: relative;
    left:-10vh;
    font-size: 3vw;
    min-width:999 px;
}

div.op2 {
    
    position: relative;
    font-family: arial;
    color:#999999;
    display: block;
    font-size: 1.9em;
    right: 10px;
    text-align: left;
    top: -87vh;
    left: 120vh;
} 
 